<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC
 "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
 "http://www.freedesktop.org/standards/PolicyKit/1/policyconfig.dtd">
<policyconfig>
  <action id="com.cachy.gameoptimizer.privileged">
    <description>Run privileged operations for CachyOS Game Optimizer</description>
    <message>Authentication is required to apply system optimizations</message>
    <defaults>
      <allow_any>auth_admin</allow_any>
      <allow_inactive>auth_admin</allow_inactive>
      <allow_active>auth_admin</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/home/kasher/.local/share/cachy-game-optimizer/venv/bin/python</annotate>
    <annotate key="org.freedesktop.policykit.exec.argv1">/home/kasher/.local/share/cachy-game-optimizer/cachy_game_optimizer/privileged_helper.py</annotate>
  </action>
</policyconfig>